In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

dataCrimes = pd.read_csv('D:/Hasil Akhir - Sheet1.csv', encoding="ISO-8859-1")

In [6]:
dataCrimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
Pertanyaan                                                             10 non-null object
Hasil Penjumlahan dari total jumlah responden x pilihan skor likert    10 non-null int64
Hasil Perhitungan dengan Skala Likert                                  10 non-null int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [7]:
dataCrimes.head(10)

,Pertanyaan,Hasil Penjumlahan dari total jumlah responden x pilihan skor likert,Hasil Perhitungan dengan Skala Likert
0,P1,821,82
1,P2,759,76
2,P3,170,75
3,P4,791,79
4,P5,787,79
5,P6,715,71
6,P7,696,70
7,P8,761,76
8,P9,751,75
9,P10,790,79

In [8]:
dataCrimes.shape

(10, 3)

In [9]:
dataCrimes.describe()

,Hasil Penjumlahan dari total jumlah responden x pilihan skor likert,Hasil Perhitungan dengan Skala Likert
count,10.000000,10.000000
mean,704.100000,76.200000
std,191.301652,3.735714
min,170.000000,70.000000
25%,724.000000,75.000000
50%,760.000000,76.000000
75%,789.250000,79.000000
max,821.000000,82.000000

In [10]:
correlation = dataCrimes.corr(method='kendall')
correlation

,Hasil Penjumlahan dari total jumlah responden x pilihan skor likert,Hasil Perhitungan dengan Skala Likert
Hasil Penjumlahan dari total jumlah responden x pilihan skor likert,1.000000,0.848528
Hasil Perhitungan dengan Skala Likert,0.848528,1.000000